.MenuBar {
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 100%;
    position: fixed;
    background-color: #2f3640;
}

.Logo {
    font-size: 1.2rem;
    margin: 2rem 2rem 3rem 2rem;
    text-decoration: none;
    color: white;
    text-align: center;
}

.CategoryTitles {
    margin: 10px 0 10px 10px;
    list-style: none;
    font-size: 1.3rem;
}

.MenuSettingButtonWrap {
    position: relative;
    margin: 1rem;
}

.MenuSettingButton {
}
