.Comment {
    margin: 1rem;
    border-bottom: 1px solid #ecf0f1;
}

.Comment .CommentWriter {
}

.Comment .CommentContent {
    word-break: break-all;
    margin: 1rem;
}

.Comment .CommentWriteDate {
    display: inline-block;
    font-size: 0.7rem;
    color: #7f8c8d;
}

.Comment .ModifyCommentForm > textarea {
    margin-left: 1rem;
    width: 100%;
    height: 5rem;
    resize: none;
}

.Comment .CommentModifyButtonWrap {
    position: relative;
    text-align: right;
    bottom: 0.5rem;
    right: 0.5rem;
}

.CommentModifyButton, .CommentDeleteButton, .CommentConfirmButton {
    all: unset;
    margin: 0.5rem;
    font-size: 0.6rem;
    cursor: pointer;
}
