.CategoryItem {
}

.CategoryItem:hover {
    background-color: #ecf0f1;
}

.CategoryItem .CategoryValue {
    font-size: 1.2rem;
    padding: 0.5rem;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
}

.CategoryItem.isActive {
    background-color: #ecf0f1;
}

