.MenuBar {
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 100%;
    position: fixed;
    background-color: #2f3640;
}

.logo {
    font-size: 1.2rem;
    margin: 2rem 2rem 3rem 2rem;
    text-decoration: none;
    color: white;
    text-align: center;

}

.link {
    display: block;
    text-decoration: none;
    color: #f5f6fa;
    margin: 1rem 0 1rem 1rem;
}

.is-active {
    border-right: 2px solid;
    color: red;
}

ul {
    margin: 10px 0 10px 10px;
    list-style: none;
    font-size: 1.3rem;
}
