.LoginTemplate {
    height: 100%;
    margin: 5% auto;
    padding: 3rem;
    width:25rem;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 1px 1px 1px;
}

.LoginTemplate > div, button {
    text-align: center;
}

.LoginTemplate .LoginInput {
    margin: 20px auto;
}

.LoginTemplate .Label {
    text-align: left;
    margin-bottom: 0px;
    font-size: 1.4rem;
}

.LoginTemplate input {
    all: unset;
    border-bottom: 1px solid grey;
    width: 100%;
    font-size: 2rem;
    padding: 0.6rem;
    text-align: left;
}

.LoginTemplate .LoginBtnWrap {
    margin-top: 30px;
}

.LoginTemplate .LoginBtnWrap > button {
    all: unset;
    padding: 15px 20px;
    border: 1px solid;
    border-radius: 3px;
    background-color: #718093;
    color: white;
}

.LoginTemplate .LoginBtnWrap > button:hover {

}