.PostDetail {
    margin: 3% 15% 15%;
}

.PostDetail .PostHeader {
    border-bottom: 1px solid #ecf0f1;
}

.PostDetail .PostTitle {
    padding: 1.2rem 0;
    font-size: 2rem;
}

.PostDetail .PostBody {
    margin: 2rem 0;
}

.PostHeader .PostWriteDate {
    color: #7f8c8d;
}



.CommentInfo {
    border-bottom: 1px solid #ecf0f1;
}

.CommentInfo .PostButton {
    float: right;
}

.RemoveButton, .ModifyButton {
    all: unset;
    padding: 0 0.5rem;
    cursor: pointer;
    color: #a4b0be;
}
