.PostDetail {
    margin: 3% 15% 15%;
}

.PostDetail .PostHeader {
    border-bottom: 1px solid #ecf0f1;
}

.PostDetail .PostTitle {
    padding: 1.2rem 0;
    font-size: 2rem;
}

.PostDetail .PostBody {
    margin: 2rem 0;
}

.PostHeader .PostWriteDate {
    color: #7f8c8d;
}

.PostComment .CommentInfo {
    border-bottom: 1px solid #ecf0f1;
    padding: 1rem 0 0.5rem;
    font-size: 0.8rem;
}

.PostComment .WriteComment {
    margin: 1rem 0;
    border-bottom: 1px solid #ecf0f1;
}

.WriteComment .CommentWriter {
    display: inline-block;
    width: 12rem;
    text-align: center;
    vertical-align: top;
}

.WriteComment .InputComment {
    display: inline-block;
    width: 58rem;
}

.InputComment > textarea {
    width: 100%;
    height: 6rem;
    resize: none;
}

.WriterId, .WriterPassword {
    height: 1.5rem;
    margin-bottom: 0.7rem;
}

.CommentWrap {
    list-style: none;
}